<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpssample01">
    <!--必要な権限を追加していく-->
    <!--精度が高いが電気を食う野外で使用するときに用いる-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--精度は低いが電気を食わない ネットワークを使うのでや内でも使える-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- ここまで -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>